<nav class="navbar bg-dark border-bottom border-bottom-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Agenda</a>
      <div>

        <li>
          <a class="navbar-brand" href="/contato/index">Cadastrar usuário</a>
        </li>
        

        <% if(user) { %>
          <li class="nav-item">
            <a class="navbar-brand" href="/login/logout">Sair</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="navbar-brand" href="/login/index">Entrar</a>
          </li>
        <% } %>


      </div>
    </div>
  </nav>